# Git
.git
.gitignore
.gitattributes

# IDE
.vs/
.vscode/
.idea/

# .NET артефакты
**/bin/
**/obj/
**/publish/

# Секреты
.env
.env.*
!.env.example
secrets.json
*.pfx
*.pem
*.key
*.p12
.npmrc
appsettings.Development.json
appsettings.Local.json

# Docker / CI
Dockerfile*
docker-compose*.yml
.dockerignore